html, body
    height: 100%
    margin: 0
    transition: background-color 0.3s ease

:root
    --dot-unit: 1.5em
    --number-of-questions: 3
    --half-width: var(--dot-unit) * var(--number-of-questions) 